<div class="card" style="width: 28rem;">  
    <div class="card-body">
        <form (submit)="loginUser($event)">
            <p class="h5 text-center mb-4">Iniciar sesión</p>
            <br/>
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="defaultForm-email" value="admin" class="form-control" mdbActive>
                <label for="defaultForm-email">Nombre de usuario</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" value="x" class="form-control" mdbActive>
                <label for="defaultForm-pass">Clave</label>
            </div>
            <div class="text-center">
                <button (onclick)="this.submit();" class="btn btn-default waves-light" mdbRippleRadius>Entrar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <p>¿No estás registrado? <a routerLink="registro">Regístrate</a></p>
        <p>¿Olvidaste tu clave? <a routerLink="registro">Recupérala</a></p>
    </div>
</div>