<app-menu></app-menu>
<div class="container col-lg-6">
    <div class="card col-lg-12">

        <!--Card image-->
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Aplicación de ejemplo</h4>
            <!--Text-->
            <p class="card-text">Aplicación que servirá de plantilla para construir futuras aplicaciones en Angular 4.</p>
        </div>

    </div>
</div>